body {
	font-family: Arial;
}



.info {
	text-align: center;
}


table {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
  }

#task-abstraction {
	display: flex;
}

.task-abstraction-columns {
    flex: 1;
    text-align: center;
    align-self: center;
}

.task-abstraction-paragraph {
    text-align: left; 
  color: blue; 
}